*, :after, :before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
}

#root {
  min-height: 100vh;
  width: 100%;
  background-color: #985ACE;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  animation: color-change-2x 2s linear infinite alternate both;
}

.form {

  &_container {
    padding: 70px;
    background: #FFFFFF;
    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.17);
    border-radius: 30px;
    &[data-animation="true"] {
      animation: exit 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    }

    &[data-animation-enter="true"] {
      animation: enter 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
  }

  &_title {
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 30px;
  }

  &_button {
    margin-top: 50px;
    padding: 14px 105px;
    background: #985ACE;
    border-radius: 7px;
    cursor: pointer;
    border: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #FFFFFF;

    &:focus {
      -webkit-box-shadow: 0px 0px 8px 0px rgba(105, 68, 214, 1);
      -moz-box-shadow: 0px 0px 8px 0px rgba(105, 68, 214, 1);
      box-shadow: 0px 0px 8px 0px rgba(105, 68, 214, 1);
      outline: none;
    }

  }
}

.input {
  margin-bottom: 10px;
  width: 300px;
  height: 40px;
  font-weight: 400;
  font-size: 13px;
  color: #403A4B;
  padding: 20px 16px 8px;
  background-color: #F8F1FF;
  border-radius: 8px;
  border: none;

  &:not([value=""]):not(:focus) ~ .input_placeholder {
    bottom: 35px;
    left: 16px;
    font-size: 10px;
  }

  &:focus {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(105, 68, 214, 1);
    -moz-box-shadow: 0px 0px 8px 0px rgba(105, 68, 214, 1);
    box-shadow: 0px 0px 8px 0px rgba(105, 68, 214, 1);
    outline: none;
  }

  &:invalid:not([required]) + &_error {
    display: block;
  }

  &[data-error="true"], &:invalid:not([required]) {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(244, 28, 54, 1);
    -moz-box-shadow: 0px 0px 8px 0px rgba(244, 28, 54, 1);
    box-shadow: 0px 0px 8px 0px rgba(244, 28, 54, 1);
  }

  &_container {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    &:focus-within .input_placeholder {
      bottom: 35px;
      left: 16px;
      font-size: 10px;
    }
  }

  &_placeholder {
    position: absolute;
    bottom: 25px;
    left: 16px;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    color: rgba(64, 58, 75, 0.6);
    transition: all ease-in-out 0.3s;
  }

  &_error {
    display: none;
    margin-left: 10px;
    color: #ff5e5e;
    margin-bottom: 5px;
    font-size: 12px;

    &[data-error="true"] {
      display: block;
    }
  }
}

@keyframes color-change-2x {
  0% {
    background: #19dcea;
  }
  100% {
    background: #b22cff;
  }
}

@keyframes exit {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(1000px);
    opacity: 0;
  }
}

@keyframes enter {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slider-out {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: end;
  animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  &[data-animation-exit="true"] {
    animation: exit-slide-out 0.5s ease-out both;
  }
  &_content {
    width: 50%;
    height: 100%;
    background-color: #fff;
    animation: scale-up-hor-right 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    &[data-animation-exit="true"] {
      animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scale-up-hor-right {
  0% {
    transform: scaleX(0.4);
    transform-origin: 100% 100%;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 100% 100%;
  }
}

@keyframes exit-slide-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-out-right {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(1000px);
    opacity: 0;
  }
}
